[flex]
[flex-c]
[flex-v]
[flex-between]
[flex-around]
[center]
[flex-end]
  display flex
[flex-c]
  align-items center
[flex-v]
  flex-direction column
[flex-between]
  justify-content space-between
[flex-around]
  justify-content space-around
[center]
  justify-content center
  align-items center
[flex-end]
  justify-content flex-end
[flex-1]
  flex 1
html
body
  margin 0
  padding 0
